PF="ipfw -q add"
ipfw -q -f flush
#loopback
$IPF 10 allow all from any to any via lo0
$IPF 20 deny all from any to 127.0.0.0/8
$IPF 30 deny all from 127.0.0.0/8 to any
$IPF 40 deny tcp from any to any frag
# statefull
$IPF 50 check-state
$IPF 60 allow tcp from any to any established
$IPF 70 allow all from any to any out keep-state
# fail2ban table rule
$IPF 100 deny ip from table\(1\) to me
# open port ssh (22)
$IPF 130 allow tcp from any to any 22 in
$IPF 140 allow tcp from any to any 22 out
# deny and log everything
$IPF 500 deny log all from any to any
